<!doctype html>
<html lang="en"
xlmns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8" />
	<title>Footer Page</title>
</head>
<body>
	
	
	<footer id="fragmentTag" th:fragment="footer1(title,subtitle)" >
	         <div class="container">
	                    
	                    <h1 th:text="${title}" ></h1>
	                    <h1 th:text="${subtitle}"></h1>
	                    <h1>Padh le bata abhi nahi kab</h1>
	                    <h2>Kuch kar nhi NIT ka naam kharab hoga </h2>
	                    <h3>Kuch kar lo </h3>
	                    
	                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quo pariatur quia facilis atque reiciendis tempora consequatur nulla sapiente eligendi quos itaque laudantium repellat dignissimos fugiat! Ratione ullam beatae commodi omnis tenetur delectus sunt provident ex porro modi molestiae excepturi praesentium asperiores qui enim sequi suscipit incidunt quaerat placeat quae.</p>
	         
	         </div>
	</footer>
	
</body>
</html>